<div class="table-container">
  <div class="">
    <button class="btn btn-primary aggiungi-button" (click)="aggiungiCandidato()">Aggiungi</button>
  </div>
  <div class="candidati-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let candidato"> {{candidato.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let candidato"> {{candidato.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="cognome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome </th>
        <td mat-cell *matCellDef="let candidato"> {{candidato.cognome}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let candidato"> {{candidato.email}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
        <td mat-cell *matCellDef="let candidato"> {{candidato.telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="posizione">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Posizione </th>
        <td mat-cell *matCellDef="let candidato"> {{candidato.posizione}} </td>
      </ng-container>

      <ng-container matColumnDef="valutazione">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valutazione </th>
        <div class="valutazione-container">
          <td mat-cell *matCellDef="let candidato">
            <div class="valutazione-wrapper" [ngClass]="{
            'positive' : candidato.valutazione > 5,
            'negative' : candidato.valutazione < 5
         }">{{candidato.valutazione}}</div>
          </td>
        </div>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row"
            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let candidato" [attr.colspan]="colonneEspandi.length">
          <div class="example-element-detail" [@detailExpand]="candidato == expandedElement ? 'expanded' : 'collapsed'">
            {{candidato.note}}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colonne"></tr>
      <a routerLink="candidato">
        <tr mat-row *matRowDef="let row; columns: colonne;" (click)="onClick(row, $event)" 
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row"></tr>
      </a>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <br />

    <mat-paginator #paginator [pageSizeOptions]="[6, 5, 4, 3, 2, 1]" showFirstLastButtons></mat-paginator>

    <!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
      <ng-container [matColumnDef]="colonna" *ngFor="let colonna of colonne">
        <th mat-header-cell *matHeaderCellDef> {{colonna}} </th>
        <td mat-cell *matCellDef="let element"> {{element[colonna]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colonne"></tr>
      <a routerLink="candidato">
        <tr mat-row *matRowDef="let row; columns: colonne;" (click)="onClick(row, $event)"></tr>
      </a>
    </table>-->
  </div>

  <div *ngIf="mostraDettagli" class="note-candidato">
    <app-candidato></app-candidato>
  </div>
</div>

<router-outlet></router-outlet>