.container {
  display: flex;
  flex-flow: row wrap;
}

tr.mat-mdc-row:hover {
    background-color: rgb(146, 184, 185);
}

.candidati-table {
    width: 50%;
    padding: 10px;
}

.note-candidato {
  
  width: 40%;
  margin-left: 10px;
  padding: 10px;
}

