tr.mat-mdc-row:hover {
    background-color: rgb(146, 184, 185);
}

.candidati-table {
    width: 50%;
    margin-top: 10px;
    background-color: cadetblue;
}


.aggiungi-button {
  margin-top: 10px;
}

.note-candidato {
  
  width: 40%;
  margin-left: 10px;
  padding: 10px;
}

