.home-toolbar {
    background-color: white;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}

.mat-toolbar {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(209, 209, 209, 0.2), 0 6px 20px 0 rgba(216, 213, 213, 0.19);
  }